@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&family=Roboto:ital@1&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
  background-color:#FFFFFF ;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h{
  color: #00418b;
  font-family: 'Noto Serif', Serif;
}
p{
  font-family: Roboto, helvetica;
}
header{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 200px 200px auto;
}

.logo_link{ 
    justify-items: center;
    align-items: center;
}
.logo{
    width: 70px;
    margin: 20px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color:#00418b;
    text-decoration: none;
    padding: 35px;
    align-self: center;
}
nav a:hover{
    background-color: #080808;
    color: #FFFFFF;
}
#banner-area{
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    height:500px;
    
}
#hero-msg{
  font-size:20px;
  color: #FFFFFF;
  grid-column:1/4;
  grid-row:1/2;
  margin-top:30px;
  z-index:1;
}

#hero-msg h1, #hero-msg h4{
    align-items: center;       
}
#hero-box{
    grid-column: 1/4;
    grid-row:1/2;
    text-align: center;
    margin-top:30px;
    height:100%
}

#hero-img{
    width: 100%;
    height:500px;
}

#product-area{
  background-color: #b9c6ae;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-top: 60px;
  
}
.History{
  grid-column: 1/2;
  width: 100%;
  margin-top: 30px;
  justify-self: center;
  align-self:center;
  text-align: center;
}
.hist{
  height: 400px;
}
.land-scape{
  grid-column: 2/3;
  width: 100%;
  margin-top: 30px;
  justify-self: center;
  align-self:center;
  text-align: center;
}
.lnd-scp{
  height: 400px;
}
.wild-life{
  grid-column: 3/4;
  width: 100%;
  margin-top: 30px;
  justify-self: center;
  align-self:center;
  text-align: center;
}
.wld-lfe{
  height: 400px;
}
footer{
  background-color: #228b22;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social img{
    padding-top: 15px;
}   
h3{
   color: #FFFEFF;
}
